
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>UploadLogo</title>
</head>
<body>
    <div class="container">

        <div class="dropdown" style="width:20%">
            <h4>Select Object</h4>
            <select id="op1" class="dropdownitems radius" style="height:35px;/*margin-left:55px;*/width:100%;"><option value="35"></option></select>
        </div>
        <br />
        <br />
        <br />
        &nbsp;
        &nbsp;


        <label>Upload Image</label>
        <div class="input-group">
            <span class="input-group-btn">
                <span class="btn btn-default btn-file" style="background-color:gray;">
                    Browse… <input type="file" accept="image/png, image/jpeg, image/gif" id="imgInp" tabindex="-2">
                </span>
            </span>

        </div>
        <button id="Save" class="button" tabindex="-2">Save</button>
    </div>
    
        
</body>
</html>

<script>
    $(document).ready(function () {
        $("#op1 option").remove();
        $.ajax({
            url: "/Home/binddealers",
            type: "Get",
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    var opt = new Option(data[i].DealerName, data[i].Dealer_Id);
                    $('#op1').append(opt);


                }

            }

        })

    });

</script>