
@{
    ViewBag.Title = "FuelMonitoring";
    Layout = "~/Views/Shared/Layout1.cshtml";
}

<div class=" container-fluid" style="background-color: #444;">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GPS TRACKING</title>
        <link rel="stylesheet" href="~/MainPage/css/style.css">
      
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
    </head>
    <body>
        <div class=" col-md-9">
            <div class="circles">

                <div class="second circle" id="First">
                    <strong id="s1"></strong>
                    <span>animation <br> progress</span>
                </div>

                <div class="second circle" id="Second">
                    <strong id="s2"></strong>
                    <span>animation <br> progress</span>
                </div>
                <div class="second circle" id="Third">
                    <strong></strong>
                    <span>animation <br> progress</span>
                </div>
               
          
        </div>
            <script>
               

    function progressbar() {

      $.ajax({
         
          url: "/Home/GetFuel",
          type: "Get",
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        var a = data[i].fuel;
                        var id = data[i].Id;
                        if (data[i].Id == 35) {
                            $('#s1').value = '';
                            $('#First').circleProgress({
                                value: String(data[i].fuel),

                            }).on('circle-animation-progress', function (event, progress) {
                                $("#s1").html((a * 100).toString());
                         

                            })
                        }
                        else if (id == 36) {
                            $('#s2').value = '';
                            $('#Second').circleProgress({
                                value: String(data[i].fuel),
                                
                            }).on('circle-animation-progress', function (event, progress) {
                            
                             

                            })
                        }

                }


          }

      });

  }
            </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="https://rawgit.com/kottenator/jquery-circle-progress/1.2.2/dist/circle-progress.js"></script>
        <script src="~/docs/examples.js"></script>
    </body>


</div>
