
@{
    Layout = null;
}



<head>
    <script src="~/MainPage/js/jquery-1.9.1.min.js"></script>
    @*<script src="~/MainPage/js/easyResponsiveTabs.js"></script>*@
    <script type="text/javascript" src="~/MainPage/js/jquery-2.1.4.min.js"></script>
    <link href="~/MainPage/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="~/MainPage/css/bootstrap.css" rel="stylesheet" />
    <link href="~/MainPage/css/style.css" rel="stylesheet" />
    <link href="~/MainPage/css/circle.css" rel="stylesheet" />
    <link href="~/MainPage/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/MainPage/css/font-awesome.min.css" />
</head>

<style>
    .changebox {
        margin: 0 auto;
        border-radius: 25px;
        box-shadow: 0px 0px 2px 2px #008dd2;
        width: 40%;
        margin-top: 20%;
        padding-top: 2px;
        padding-bottom: 11px;
    }

    .txt100 {
        width: 100%;
        border: 1px solid #888;
        border-radius: 5px;
    }

    .mtt {
        margin-top: 10px;
    }
</style>
<div class="changebox">
    <div class="container-fluid">
        <div class="col-md-12 mtt">
            <div class="col-md-6">
                Old Password:
            </div>
            <div class="col-md-6">
                <input type="password" id="old" class="txt100 " />
            </div>
        </div>
        <div class="col-md-12 mtt">
            <div class="col-md-6">
                New Password:
            </div>
            <div class="col-md-6">
                <input type="password" id="new" class="txt100" />
            </div>
        </div>
        <div class="col-md-12 mtt">
            <div class="col-md-6">
                confirm Password:
            </div>
            <div class="col-md-6">
                <input type="password" id="txtconform" class="txt100" />
            </div>
        </div>

        <div class="col-md-12 text-center mtt">
            <input type="button" id="change" value="Change" class="btn" style="width:25% !important;font-size: 17px !important" />
        </div>
    </div>




</div>
    </div>

<div class="container-fluid text-center">
    <label id="message" style="margin-top: 41px;
   ">Your Password has been changed successfully.<a href="/Login.aspx" id="logout1" style="float: right;">Click Here To Login</a></label>

</div>
<script>
    $(document).ready(function () {
        $('#message').hide();
        $('#logout1').hide();

    });
    $(function () {
        $("#LogOut").click(function () {
            document.getElementById("logout1").click();
            $.ajax({
                type: "POST",
                contentType: "application/json;charset=utf-8",
                //data: "{product:" + JSON.stringify(product) + "}",
                url: "/Home/expire",
                success: function (data) {
                    if (data != null) {

                    }
                }
            });
        });
    });
    $(function () {
        $("#change").click(function () {

            var old = document.getElementById("old").value;
            var newp = document.getElementById("new").value;
            var confirm = document.getElementById("txtconform").value;
            if (old == "") {
                alert("Please enter old Password.")
                document.getElementById("old").focus();
            }
            else if (newp == "") {
                alert("Please eneter new password")
                document.getElementById("new").focus();
            }
            else if (confirm == "")
            {
                alert("Please eneter confirm password")
                document.getElementById("txtconform").focus();
            }
            else if (confirm != newp)
            {
                alert("Passoword dose not match.")
                document.getElementById("txtconform").focus();
            }
            else {
                var employee = { oldpassword: old, newpassword: newp, }
                $.ajax({
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    data: "{employee:" + JSON.stringify(employee) + "}",
                    url: "/Home/changepassworddata",
                    success: function (data) {
                        if (data == "Changed") {
                            $('#message').show();
                            $('#logout1').show();
                            document.getElementById("old").value = "";
                            document.getElementById("new").value = "";
                            document.getElementById("txtconform").value = "";
                        }
                        else {
                            alert("Old password dose not match!!");
                            document.getElementById("old").focus();
                        }
                    }
                });
            }
        });
    });

</script>

