@{
    ViewBag.Title = "Subscription";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/style.css" rel="stylesheet" />
<link href="~/bootstrap/bootstrap.min.css" rel="stylesheet" />
<script src="~/bootstrap/bootstrap.min.js"></script>
<script src="~/bootstrap/jquery.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<input type="hidden" id="usertype" value="@ViewBag.usertype" />


<div class="mt-10" style="margin-top:150px;"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 text-center p-10">
            <div class="b1 p-4">
                <h1>SUBSCRIPTION</h1>
                <label style="font-size:60px;font-weight:200px;" class="am" id="amount">Rs.500</label>
                <h1>Subscription</h1>
                <h3> Period For 1 Month</h3><br />
                <button class="btn-success p-3 mt-2" style="width:30%;padding: 10px;" id="s1" onclick="b1click(this)">Subscribe</button>
            </div>
        </div>
        <div class="col-md-6 text-center p-10">
            <div class="b1 p-4">
                <h1>SUBSCRIPTION</h1>
                <label style="font-size:60px;font-weight:200px;" id="amount" >Rs.1000</label>
                <h1>Subscription</h1>
                <h3> Period For 3 Month</h3><br />
                <button class="btn-success p-3 mt-2" style="width:30%;padding: 10px;" id="b2" onclick="b1click(this)">Subscribe</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 text-center p-10">
            <div class="b1 p-4">
                <h1>SUBSCRIPTION</h1>
                <h1 style="font-size:60px;font-weight:200px;" class="amount" id="amount">Rs.1500</h1>
                <h1>Subscription</h1>
                <h3> Period For 6 Month</h3><br />
                <button class="btn-success p-3 mt-2" style="width:30%;padding: 10px;" id="b3" onclick="b1click(this)">Subscribe</button>
            </div>
        </div>
        <div class="col-md-6 text-center p-10">
            <div class="b1 p-4">
                <h1>SUBSCRIPTION</h1>
                <h1 style="font-size:60px;font-weight:200px;" id="amount">Rs.2000</h1>
                <h1>Subscription</h1>
                <h3> Period For 12 Month</h3><br />
                <button class="btn-success p-3 mt-2" style="width:30%;padding: 10px;" id="b4" onclick="b1click(this)">Subscribe</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        if ($("#usertype").val() == "Employee") {
            $("#report").hide();
        }

    });
    function b1click(b) {
        var amount1=$(b).parent().find('#amount').text();
        var amount = amount1;
            
                    var url='@Html.Raw(Url.Action("Billing", "Home", new { amount = "__orderId__",}))';

                    var params = url.replace('__orderId__', amount);
                    window.location.href = params;
    }

</script>

