
@{
    ViewBag.Title = "Company_Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/style.css" rel="stylesheet" />

<body>
    <div class="container">

        <div class="sidenav">
            <div style="margin-left:10px">
                <ul style="list-style-type:none; color:white;">
                    <li>
                        <img src="~/images/download2.jpg" width="70px" height="70px" style="border-radius:50%; border:solid 3px #DEB150 " />
                    </li>
                    <br />
                    <li style="margin-left:-15px">Employee name</li>
                    <li style="margin-left:10px">Status</li>
                </ul>
                <hr />

            </div>
            <hr />
            <a href="#">Profile</a>
            <a href="#">Edit</a>
            <a href="#">Change Password</a>


        </div>

    </div>


</body>
