
@{
    ViewBag.Title = "Firmwave";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid firmware mt70" style="">
    
    <div class="border1" style="padding:10px">
    <div class="row mt3 pt5">
        <div class="col-md-4 text-center "></div>
        <div class="col-md-4 text-center ">            
                <label>Version</label>
                <input type="text" name="version" id="version" />            
        </div>
        <div class="col-md-4 text-center "></div>
        </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <input type="submit" name="search" id="search" value="Search" class="btn" />
        </div>
    </div>
        </div>
        <hr />

        <table style="width:100%;border:1px solid #ccc;padding:5px;" border="1">
            <tr>
                <th class="text-center"></th>
                <th>Version</th>
                <th>Content Size B</th>
                <th>Hardware Check Rule</th>
                <th>Note</th>
            </tr>
            <tr>
                <td class="text-center"><input type="checkbox" name="" id="" value="" /></td>
                <td>14018</td>
                <td>XC</td>
                <td>notes</td>
                <td>notes</td>
            </tr>
            <tr>
                <td class="text-center"><input type="checkbox" name="" id="" value="" /></td>
                <td>14018</td>
                <td>XC</td>
                <td>notes</td>
                <td>notes</td>
            </tr>
        </table>

    </div>