
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .section {
        background-color:gray;
    }
</style>
<div class="container" style="margin-top:25%;">
    <div  class="section-home text-center"id="home">
        <h1>Welcome to Fleet Management System Configuration by Avisco IT Solutions.</h1>
    </div>

</div>
