
@{
    ViewBag.Title = "RealTimeView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid rtview mt70 ">
    <div class="border1" style="padding:15px;">
        <div class="row">
            <div class="col-md-3"><label>IMEI NO:</label></div>
            <div class="col-md-9 rtwtext">12345698778965</div>
        </div>
        <div class="row">
            <div class="col-md-3"><label>Dealer:</label></div>
            <div class="col-md-9 rtwtext">Avisco It Solutions</div>
        </div>

        <div class="row">
            <div class="col-md-3"><label>Updated:</label></div>
            <div class="col-md-9 rtwtext">7/30/2018 12:22:28</div>
        </div>
        <div class="row">
            <div class="col-md-3"><label>Position Time:</label></div>
            <div class="col-md-9 rtwtext">7/30/2018 12:16:46</div>
        </div>
        <div class="row">
            <div class="col-md-3"><label>Position:</label></div>
            <div class="col-md-9 rtwtext">125.45652123,158.30047854</div>
        </div>
        <div class="row">
            <div class="col-md-3"><label>Satellites:</label></div>
            <div class="col-md-9 rtwtext">0</div>
        </div>
        <div class="row">
            <div class="col-md-3"><label>HDOP:</label></div>
            <div class="col-md-9 rtwtext">1</div>
        </div>
        <div class="row">
            <div class="col-md-3"><label>Input's Time:</label></div>
            <div class="col-md-9 rtwtext">7/30/2018</div>
        </div>
    </div>

    <div class="container-fluid11 mt3 ">

        <table border="1" style="width:100%;border:1px solid #ccc;">
            <tr>
                <td>IN 1</td>
                <td colspan="4">Motion</td>

            </tr>
            <tr>
                <td>IN 2</td>
                <td>IN 3</td>
                <td>IN 4</td>
                <td>IN 5</td>
                <td> Digital Input</td>

            </tr>
            <tr>
                <td>IN 6</td>
                <td colspan="4">Voltage Thresholder ADC input</td>

            </tr>
            <tr>
                <td>IN 7</td>
                <td colspan="4">Engine Running</td>
            </tr>
            <tr>
                <td>IN 8</td>
                <td colspan="4">Power Supply Voltage Threshold</td>
            </tr>
            <tr>
                <td>IN 9</td>
                <td>IN 10</td>
                <td>IN 11</td>
                <td>IN 12</td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td>IN 13</td>
                <td>IN 14</td>
                <td>IN 15</td>
                <td>IN 16</td>
                <td colspan="2"></td>
            </tr>
        </table>
    </div>
    <div class="container-fluid33 mt3 border1" style="padding:15px;">
        <div class="row">
            <div class="col-md-3"><label>Settings State</label></div>
            <div class="col-md-9 rtwtext">Updated/Last updated Time 7/30/2018 13:03 pm</div>
        </div>
        <div class="row">
            <div class="col-md-3"><label>Firmware State</label></div>
            <div class="col-md-9 rtwtext">Updated</div>
        </div>
        <div class="row">
            <div class="col-md-3"><label>Currenst Firmware Version</label></div>
            <div class="col-md-9 rtwtext">CC0Q</div>
        </div>
        <div class="row">
            <div class="col-md-3"><label>Last Activity</label></div>
            <div class="col-md-9 rtwtext">1 minuts ago</div>
        </div>
        <div class="row">
            <div class="col-md-3"><label>Satellies</label></div>
            <div class="col-md-9 rtwtext">0</div>
        </div>
        <div class="row">
            <div class="col-md-3"><label>HDOP</label></div>
            <div class="col-md-9 rtwtext">1</div>
        </div>
        <div class="row">
            <div class="col-md-3"><label>Input's Time</label></div>
            <div class="col-md-9 rtwtext">7/30/2018</div>
        </div>
    </div>
</div>

