
@{
    ViewBag.Title = "PlayMap";
    Layout = "~/Views/Shared/Layout1.cshtml";
}
<head>
    <title>Play Map</title>
    <script src="~/MainPage/js/jquery-1.9.1.min.js"></script>
    @*<script src="~/MainPage/js/easyResponsiveTabs.js"></script>*@
    <script type="text/javascript" src="~/MainPage/js/jquery-2.1.4.min.js"></script>
    <link href="~/MainPage/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="~/MainPage/css/bootstrap.css" rel="stylesheet" />
    <link href="~/MainPage/css/style.css" rel="stylesheet" />
    <link href="~/MainPage/css/circle.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/MainPage/css/font-awesome.min.css" />
</head>
<div class="container-fluid playhead">
    <div class="col-md-8">
        <span>Map for Carrier:<label id="number">@ViewBag.Vehicle_No</label></span><span class="pl5px">Vehicle Type:<label>@ViewBag.type</label></span><span class="pl5px">Check Last Status<label>@*abcd*@</label></span>
    </div>
  
</div>
<!--mrkers start-->
<div class="container-fluid playmap" style="padding-top:5px;font-size: 9px;">
    <div class="row text-center">
        <div class="col-sm-2">
            <button id="play">Play</button>
            <button id="pause">Pause</button>
            <button id="replay">Replay</button>
        </div>
        <div class="col-sm-112 marker">
            <i class="fa fa-map-marker" style="font-size:20px;color:green"></i>
            <span class="">Start Point</span>
        </div>
        <div class="col-sm-112 marker">
            <i class="fa fa-map-marker" style="font-size:20px;color:darkblue"></i>
            <span class="">End Point</span>
        </div>
      
        <div class="col-sm-112 marker">
           
            <i class="fa fa-tachometer" style="font-size:19px;color:deeppink"></i>
            <span class="">Speed Violation</span>
        </div>
      
    </div>    
</div>
<div class="container-fluid" style="margin-top:3px;">
    <style>
        /* Set the size of the div element that contains the map */
        #map {
            height: 460px; /* The height is 400 pixels */
            width: 100%; /* The width is the width of the web page */
            z-index: 0;
        }
    </style>
    <!--The div element for the map -->
    <div id="map"></div>
    <div class="playfooter"></div>
    <script type="text/javascript">
        //Initialize map
        function initMap() {
            // The following path marks a path from Mt. Whitney, the highest point in the
            // continental United States to Badwater, Death Valley, the lowest point.
            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 5,
                center: { lat: 20.593684, lng: 78.962880 },
            });

        }
        //Execute on replay button click 
        $("#replay").on("click", function () {
            initMap();
            var vno = $("#number").text()
            var product = { IMEI: vno }
            var i = 0;
            $.ajax({

                type: "POST",
                contentType: "application/json;charset=utf-8",
                data: "{product:" + JSON.stringify(product) + "}",
                url: "/Home/playdata",
                success: function (data) {
                    var end = data.length;
                    var marker = new google.maps.Marker({
                        position: { lat: parseFloat(data[0].Lat), lng: parseFloat(data[0].Long) },
                        map: map,

                        icon: "../Layout4/images/Playmapgreen.png",
                        gestureHandling: 'greedy'

                    });
                    map.setZoom(18),
                        map.panTo(marker.position);

                    var marker1 = new google.maps.Marker({
                        position: { lat: parseFloat(data[data.length - 1].Lat), lng: parseFloat(data[data.length - 1].Long) },
                        map: map,

                        icon: "../Layout4/images/Playmapblue.png",
                        gestureHandling: 'greedy'

                    });

                    ss();
                    s = i;
                    //for (var i = 0; i < data.length; i++) {
                    function ss() {
                        var i = 0;


                        s1();

                        // map.panTo(marker.position);

                        function s1() {

                            if (data[i].stete > 32930) {
                                var s = data.length;

                                if (data[i].speed > 45) {
                                    var marker1 = new google.maps.Marker({

                                        position: { lat: parseFloat(data[i].Lat), lng: parseFloat(data[i].Long) },
                                        map: map,

                                        icon: "../Layout4/images/Playmapspeed.png",
                                        gestureHandling: 'greedy'

                                    });

                                }

                                try {
                                    var origin = new google.maps.LatLng(data[i].Lat, data[i].Long);
                                    destination = new google.maps.LatLng(data[i + 1].Lat, data[i + 1].Long);

                                } catch (e) {

                                }


                                line = new google.maps.Polyline({
                                    geodesic: true,
                                    path: [origin, destination],
                                    icons: [{
                                        icon: {
                                            path: 'M 236.54427,9.8485 C 220.2445,9.8485 204.45277,15.405415 191.41289,25.550223 L 97.337229,97.995127 L -135.0706,131.12201 C -150.90459,133.65817 -161.13586,149.44963 -156.32358,165.14237 L -132.57022,244.60846 L -86.188678,244.60846 C -90.823109,289.62242 -60.00389,319.2235 -20.679452,319.2235 C 18.644986,319.2235 49.844083,285.73585 44.829779,244.60846 L 425.19586,244.60846 C 419.65783,289.49008 452.23789,319.2235 490.70508,319.2235 C 529.17227,319.2235 561.22444,285.70267 556.21433,244.60846 L 651.04018,244.60846 C 659.88863,244.60846 667.48002,236.98237 667.48,227.63005 L 667.48,137.76012 C 667.48,129.20037 661.30023,122.08284 653.22799,120.97335 L 491.76774,97.995127 L 427.82125,32.635149 C 413.84999,18.051989 394.74442,10.165524 374.56372,9.8485 L 236.54427,9.8485 z M 304.42883,37.42226 L 378.62679,37.42226 C 389.64854,37.42226 399.73373,43.261111 405.94316,52.613356 L 424.25825,80.825395 C 428.78955,88.722668 423.85522,96.409133 415.38198,97.803717 L 304.42883,97.803717 L 304.42883,37.42226 z M 224.60508,37.549916 L 283.42586,37.549916 L 283.42586,97.803717 L 132.59212,97.803717 L 200.10167,45.97523 C 207.08728,40.585799 215.91189,37.549914 224.60508,37.549916 z',
                                            scale: .05,
                                            fillColor: 'blue',
                                            fillOpacity: 1,
                                            rotation: 90,
                                            anchor: new google.maps.Point(0, 200)
                                        },

                                        offset: '100%'
                                    }]
                                }),

                                    line.setMap(map),
                                    pct = 0,
                                    // i = 0,

                                    timer = setInterval(function () {


                                        pct += .008;

                                        line.setPath([origin, new google.maps.geometry.spherical.interpolate(origin, destination, pct)]);
                                        line.setMap(map);
                                        //var zoom = 17;

                                        // i = i + 1;

                                        map.setCenter(line.getPath().getAt(1));
                                        if (pct >= 1 && i < data.length) {
                                            clearInterval(timer)

                                            //timer = 54;
                                            i = i + 1;

                                            pct = 0;
                                            s1();

                                        }

                                    }, 20);
                            }
                            else {
                                i = i + 1;

                                s1();
                            }

                            //start();
                        }
                    }
                }
                //}

            })

        });
        //Pass request for retriving lattitude and longitude of vehicle on play button click
        $("#play").on("click", function () {
            var vno = $("#number").text()
            var product = { IMEI: vno }
            var i = 0;
            $.ajax({

                type: "POST",
                contentType: "application/json;charset=utf-8",
                data: "{product:" + JSON.stringify(product) + "}",
                url: "/Home/playdata",
                success: function (data) {
                    var end = data.length;
                    var marker = new google.maps.Marker({
                        position: { lat: parseFloat(data[0].Lat), lng: parseFloat(data[0].Long) },
                        map: map,

                        icon: "../Layout4/images/Playmapgreen.png",
                        gestureHandling: 'greedy'

                    });
                    map.setZoom(18),
                        map.panTo(marker.position);

                    var marker1 = new google.maps.Marker({
                        position: { lat: parseFloat(data[data.length - 1].Lat), lng: parseFloat(data[data.length - 1].Long) },
                        map: map,

                        icon: "../Layout4/images/Playmapblue.png",
                        gestureHandling: 'greedy'

                    });

                    ss();
                    s = i;

                    function ss() {
                        var i = 0;


                        s1();

                        function s1() {

                            if (data[i].stete > 32930) {
                                var s = data.length;

                                if (data[i].speed > 45) {
                                    var marker1 = new google.maps.Marker({

                                        position: { lat: parseFloat(data[i].Lat), lng: parseFloat(data[i].Long) },
                                        map: map,

                                        icon: "../Layout4/images/Playmapspeed.png",
                                        gestureHandling: 'greedy'

                                    });

                                }

                                try {
                                    var origin = new google.maps.LatLng(data[i].Lat, data[i].Long);
                                    destination = new google.maps.LatLng(data[i + 1].Lat, data[i + 1].Long);

                                } catch (e) {

                                }


                                line = new google.maps.Polyline({
                                    geodesic: true,
                                    path: [origin, destination],
                                    icons: [{
                                        icon: {
                                            path: 'M 236.54427,9.8485 C 220.2445,9.8485 204.45277,15.405415 191.41289,25.550223 L 97.337229,97.995127 L -135.0706,131.12201 C -150.90459,133.65817 -161.13586,149.44963 -156.32358,165.14237 L -132.57022,244.60846 L -86.188678,244.60846 C -90.823109,289.62242 -60.00389,319.2235 -20.679452,319.2235 C 18.644986,319.2235 49.844083,285.73585 44.829779,244.60846 L 425.19586,244.60846 C 419.65783,289.49008 452.23789,319.2235 490.70508,319.2235 C 529.17227,319.2235 561.22444,285.70267 556.21433,244.60846 L 651.04018,244.60846 C 659.88863,244.60846 667.48002,236.98237 667.48,227.63005 L 667.48,137.76012 C 667.48,129.20037 661.30023,122.08284 653.22799,120.97335 L 491.76774,97.995127 L 427.82125,32.635149 C 413.84999,18.051989 394.74442,10.165524 374.56372,9.8485 L 236.54427,9.8485 z M 304.42883,37.42226 L 378.62679,37.42226 C 389.64854,37.42226 399.73373,43.261111 405.94316,52.613356 L 424.25825,80.825395 C 428.78955,88.722668 423.85522,96.409133 415.38198,97.803717 L 304.42883,97.803717 L 304.42883,37.42226 z M 224.60508,37.549916 L 283.42586,37.549916 L 283.42586,97.803717 L 132.59212,97.803717 L 200.10167,45.97523 C 207.08728,40.585799 215.91189,37.549914 224.60508,37.549916 z',
                                            scale: .05,
                                            fillColor: 'blue',
                                            fillOpacity: 1,
                                            rotation: 90,
                                            anchor: new google.maps.Point(0, 200)
                                        },

                                        offset: '100%'
                                    }]
                                }),

                                    line.setMap(map),
                                    pct = 0,
                                    // i = 0,

                                    timer = setInterval(function () {


                                        pct += .008;

                                        line.setPath([origin, new google.maps.geometry.spherical.interpolate(origin, destination, pct)]);
                                        line.setMap(map);
                                        //var zoom = 17;

                                        // i = i + 1;

                                        map.setCenter(line.getPath().getAt(1));
                                        if (pct >= 1 && i < data.length) {
                                            clearInterval(timer)

                                            //timer = 54;
                                            i = i + 1;

                                            pct = 0;
                                            s1();

                                        }

                                    }, 10);
                            }
                            else {
                                i = i + 1;

                                s1();
                            }

                            //start();
                        }
                    }
                }
                //}

            })
        });

    </script>
    <script type="text/javascript">

    </script>
    <!--Load the API from the specified URL
        * The async attribute allows the browser to render the page while the API loads
            * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDw6ylNYYy1CPEN_shphTXMhf-2yGCDXuI&callback=initMap">
    </script>

</div>
<!--mrkers end-->